<div class="container-fluid ">
   <div class="row">
      <div class="col-md-2  bg-dark text-white  p-4" style="height: 670px;">
         <h2 class="mt-1 mb-5 font">Admin Panel</h2>

         <h3 class="mb-4 font" routerLink="/dashboard">
            <i class="fa-solid fa-clipboard mr-3"></i>Dashboard
         </h3>
         <h3 class="mb-4 font" routerLink="/tanker-table">
            <i class="fa-solid fa-list mr-2"></i> Tanker List
         </h3>
         <h3 class="mb-4 font" routerLink="/driver-table">
            <i class="fa-solid fa-user-nurse mr-2"></i> Drivers
         </h3>
         <h3 class="mb-4 font">
            <i class="fa-solid fa-bookmark mr-2"></i> Bookings
         </h3>
         <h3 class="mb-4 font"routerLink="/report">
            <i class="fa-solid fa-file-export"></i> Reports
         </h3>
      </div>
   </div>
</div>

<div class="side">
   <div class="container-fluid text-white back">
      <div class="col-12">
         <div class="row " >

            <div class="col-10">
               <h1 class="pt-4" style="font-family: Arial;">Tanker Management System</h1>
            </div>
            <div class="col-2  pt-4">
               <h2 style="font-family: Arial">Admin <i class="fa-solid fa-user ml-2 i1" routerLink="/login"></i></h2>
            </div>
         </div>
      </div>
   </div>

   <div class="">

        <img src="https://static.vecteezy.com/system/resources/previews/021/013/508/non_2x/save-water-water-tap-icon-on-transparent-background-free-png.png" alt="Save Water" class="img-fluid"> 
   </div>