table {
  width: 100%;
   margin-top: -500;
 

}.div1{
  background-color: rgb(66, 66, 66);
  height: 770px;
  
}
.back{
  background-color: #dba527;
  height: 70px;
  border: none;
}
.font1{
  font-family: Arial;
  font-size: 15px;
}
.font{
  font-family: Arial;
    margin-top: 50px;
  font-size: 20px;
    cursor: pointer;
}
.font1{
  font-family: Arial;
}
.card{
  width: 98%;
  margin-left: 20px;
}
.icon{
  font-size: 30px;
  color :green;
  background-color:rgb(223, 217, 217);
  border-radius: 50%;
 padding:10px;
 height: 50px;
 width: 50px;
}
.iconpdf{
  font-size: 30px;
  background-color: rgb(223, 217, 217);
  border-radius: 50px;
 padding:10px;
 
}