<!-- Sidebar -->
<div class="container-fluid ">
   <div class="row">
      <div class="col-md-2  bg-dark text-white  p-4" style="height: 670px;">
         <h2 class="mt-1 mb-5 font">Admin Panel</h2>

         <h3 class="mb-4 font" routerLink="dashboard">
            <i class="fa-solid fa-clipboard mr-3"></i>Dashboard
         </h3>
         <h3 class="mb-4 font" routerLink="/tanker-table">
            <i class="fa-solid fa-list mr-2"></i> Tanker List
         </h3>
         <h3 class="mb-4 font" routerLink="/driver-table">
            <i class="fa-solid fa-user-nurse mr-2"></i> Drivers
         </h3>
         <h3 class="mb-4 font">
            <i class="fa-solid fa-bookmark mr-2"></i> Bookings
         </h3>
         <h3 class="mb-4 font"routerLink="/report">
            <i class="fa-solid fa-file-export"></i> Reports
         </h3>
      </div>
   </div>
</div>

<div class="side">
   <div class="container-fluid text-white back">
      <div class="col-12">
         <div class="row " >

            <div class="col-10">
               <h1 class="pt-4" style="font-family: Arial; margin-left: 190px;">Tanker Management System</h1>
            </div>
            <div class="col-2  pt-4">
               <h2 style="font-family: Arial">Admin <i class="fa-solid fa-user ml-2 i1" routerLink="/login"></i></h2>
            </div>
         </div>
      </div>
   </div>

<div class="map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30278.137104159716!2d73.80464128811846!3d18.448879048795174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2953f2263c307%3A0x79aeb881437adebd!2sNarhe%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1749038632699!5m2!1sen!2sin" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>


</div>